.song {
    display: inline-flex;
    margin-bottom: 0.5em;
    background-color: #222;
    border-radius: 1em;
    transition: 2s;
    width: 100%;
}

.album-art {
    max-height: 300px;
}

/* .song:hover {
    border-radius: 1em 3em 3em 1em;
} */

.song-info {
    order: 1;
    padding: 2em;
    right:0em;
}

.album-art img {
    border-radius: 1em;
    transition: 2s;
}

.album-art img:hover {
    border-radius: 50%;
}
  
.title {
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes borderCurveAnimation {
    0% {
        border-radius: 0em;
    }
    100% {
        border-radius: 2em;
     }
}

@keyframes borderCircleAnimation {
    0% {
        border-radius: 0%;
    }
    100% {
        border-radius: 50%;
     }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}