.song {
    display: inline-flex;
    padding: 0.5em;
    background-color: #222;
    border-radius: 1em;
    transition: 2s;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 5px 5px black;
  }

.song:hover {
    border-radius: 3em;
}

.song-info {
    order: 1;
    flex: 90%;
    padding: 2em;
    right:0em;
}

.album-art img {
    flex: 1;
    border-radius: 10%;
    transition: 2s;
}

.album-art img:hover {
    flex: 1;
    border-radius: 50%;
}
  
.title {
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes borderCurveAnimation {
    0% {
        border-radius: 0em;
    }
    100% {
        border-radius: 2em;
     }
}

@keyframes borderCircleAnimation {
    0% {
        border-radius: 0%;
    }
    100% {
        border-radius: 50%;
     }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}