.info {
  display: inline-flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

.infoItem {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.infoItem .infoItemContents {
  padding-left: 1em;
}

.infoItem .infoItemTitle {
  padding-left: 1em;
  overflow-wrap: normal;
}

@media only screen and (max-width: 600px) {
  .infoItem {
    display: inline;
  }
}
