.lyrics {
    display: inline-flex;
    flex-direction: column;
    flex: 0;
    gap: 2em;
    width: 100%;
}

.lyrics_body {
    white-space: pre-line;
    font-size: 1.5em;
}

.lyrics_copyright {
    font-size: 1em;
    font-style: italic;
}