.root {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: row-reverse;
}

.contents {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#sidebar {
    width: 64px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    text-overflow: clip;
    white-space: nowrap;
    transition: 0.5s;
}

#sidebar:hover {
    width: 20rem;
}