<div class="container">
    <div class="top">
        <nav>
            <a routerLink="/info" routerLinkActive="active" ariaCurrentWhenActive="page">Information</a>
            <a routerLink="/data" routerLinkActive="active" ariaCurrentWhenActive="page">Test</a>
            <a routerLink="/test" routerLinkActive="active" ariaCurrentWhenActive="page">Test</a>
        </nav>
        <div class="data">
            <app-data></app-data>
        </div>
    </div>
    <div class="box">
        <router-outlet></router-outlet>
    </div>
</div>